@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Main Wrapper */
    .main-wrapper {
        @apply w-full;
    }
    /* End Wrapper */

    /* Navbar */
    .navbar {
        @apply w-full fixed flex h-[48px] lg:h-auto justify-evenly lg:justify-between items-center bg-white lg:shadow-none px-4 lg:px-10 lg:py-2 z-10;
    }

    .navbar.fixed-nav {
        @apply bg-white shadow-md transition-all duration-200 ease-in-out;
    }

    /* Brand */
    .brand {
        @apply w-full lg:w-max flex items-center relative z-10 bg-white py-2 lg:py-0;
    }

    .brand-img {
        @apply w-[32px] lg:w-[51px] transition-all ease-in-out duration-200;
    }

    .navbar.fixed-nav .brand-img {
        @apply lg:w-[35px];
    }

    .brand-title {
        @apply inline-block mx-auto text-center font-semibold text-base lg:text-xl lg:mx-4 text-zinc-800;
    }
    /* End Brand */

    /* Menu */
    .menu-wrapper {
        @apply lg:flex items-center justify-evenly;
    }
    .nav-menu {
        @apply absolute lg:relative bg-white lg:bg-transparent w-full lg:w-max -left-[3px] lg:left-0 top-[47px] lg:top-0 rounded-b-xl mx-1 py-4 -translate-y-[120%] opacity-0 lg:opacity-100 lg:translate-y-0 transition-all ease-in-out duration-300 lg:flex;
    }
    .navbar.fixed-nav .nav-menu {
        @apply lg:py-0;
    }
    .nav-link {
        @apply w-full lg:w-max inline-block text-center text-zinc-800 font-semibold py-1 my-1 hover:text-[#0099ff] transition duration-200 lg:px-2;
    }

    /* End Menu */

    /* Toggle Menu */
    .toggle-menu {
        @apply block cursor-pointer lg:hidden z-50 pt-1;
    }
    .burger {
        @apply block border-t-[2.5px] border-gray-700 w-5 h-1.5 transition duration-200 origin-top-right;
    }

    .toggle-menu.show .burger:nth-child(1) {
        @apply -rotate-45 -translate-y-[1px];
    }

    .toggle-menu.show .burger:nth-child(2) {
        @apply opacity-0;
    }

    .toggle-menu.show .burger:nth-child(3) {
        @apply rotate-45 translate-y-[1px] translate-x-[1px];
    }

    .nav-menu.show {
        @apply translate-y-0 shadow-lg lg:shadow-none opacity-100;
    }

    .navbar.show {
        @apply shadow-none;
    }
    /* End Toggle Menu */

    /* End Navbar */

    /* Hero Section */
    .hero-section,
    .cta-section {
        @apply px-4;
    }

    .hero-section {
        @apply lg:flex flex-row-reverse items-center justify-center;
    }

    .hero-splash,
    .cta-content {
        @apply px-4 my-4;
    }

    .hero-splash,
    .hero-img {
        @apply lg:w-1/2 flex justify-center;
    }

    .hero-title {
        @apply text-zinc-700 font-bold text-2xl lg:text-3xl lg:pl-8;
    }

    .hero-img img {
        @apply lg:w-[35rem];
    }

    .ppdb {
        @apply text-[#0099ff];
    }
    /* End Hero */

    /* CTA */
    .cta-content {
        @apply w-full flex flex-col items-center justify-center lg:py-6;
    }

    .cta-desc {
        @apply text-justify;
    }

    .cta-btn {
        @apply inline-block my-4 mx-auto;
    }
    /* End CTA */

    /* Terms */
    .terms-section {
        @apply px-6 pb-4 pt-16 my-4 bg-zinc-200 lg:px-16;
    }

    .terms-title {
        @apply flex flex-col text-center font-semibold text-2xl text-zinc-700 py-4 lg:text-3xl lg:pt-20 lg:pb-8;
    }

    .terms-desc {
        @apply text-justify;
    }

    .terms-content {
        @apply lg:flex justify-center items-start lg:py-4 lg:px-8;
    }

    .regular-terms {
        @apply w-full py-4 lg:py-0 text-zinc-700 lg:w-1/2;
    }

    .special-terms {
        @apply text-zinc-700 lg:w-1/2;
    }

    .regular-terms-title,
    .special-terms-title {
        @apply font-semibold text-lg;
    }

    .regular-terms-list,
    .special-terms-list {
        @apply list-decimal ml-8;
    }

    .keterangan {
        @apply text-zinc-700 inline-block py-4;
    }

    .terms-btn-wrapper {
        @apply w-full flex justify-center items-center mt-4 mb-6;
    }
    /* End Terms */

    /* Kuota dan Jalur */
    .jalur-section {
        @apply px-6 pb-2 pt-16 my-4 lg:px-16 lg:pb-8 lg:pt-20;
    }

    .jalur-wrapper {
        @apply pt-6 lg:pt-0;
    }

    .jalur-title {
        @apply text-center font-semibold text-2xl text-zinc-700 py-4 lg:text-3xl lg:pt-4 lg:pb-8;
    }

    .jalur-content {
        @apply lg:flex justify-center items-start;
    }

    .kuota-title,
    .jalur-list-title {
        @apply font-semibold text-lg text-zinc-700;
    }

    .kuota-list,
    .jalur-list {
        @apply list-decimal ml-8 text-zinc-700;
    }

    .kuota-desc,
    .jalur-desc {
        @apply py-4 text-zinc-700;
    }

    .kuota-btn-wrapper,
    .jalur-btn-wrapper {
        @apply flex justify-center items-center;
    }
    /* End Kuota dan Jalur */

    /* Fasilitas */
    .fasilitas-wrapper {
        @apply bg-zinc-200 px-6 pt-4 pb-10 my-4 lg:pt-8 lg:pb-20;
    }

    .fasilitas-title {
        @apply text-2xl text-center font-semibold text-zinc-700 py-4 lg:pb-8;
    }

    .fasilitas-wrapper li {
        @apply flex flex-col items-center justify-center;
    }

    .fasilitas-wrapper .svg-inline--fa,
    .fasilitas-wrapper .svg-inline--fa {
        @apply text-[2.3rem] text-zinc-700;
    }

    .fasilitas-wrapper .fasilitas-sub {
        @apply text-center font-semibold text-zinc-700;
    }

    .splide__pagination.fasilitas-pagination {
        @apply -bottom-6;
    }

    .splide__pagination__page.fasilitas-page.is-active {
        @apply bg-[#0099ff];
    }
    /* End Fasilitas */

    /* Register PPDB */
    .register-section {
        @apply relative px-10;
    }

    .register-title {
        @apply text-3xl font-bold text-zinc-800;
    }

    /* Progress Bar */
    .progress-bar {
        @apply w-full;
    }
    .progress-bar.fixed-nav {
        @apply fixed w-full px-10 left-0 top-[56px] bg-white z-10 shadow-lg;
    }
    .dark .progress-bar.fixed-nav {
        @apply bg-zinc-800;
    }

    .step-wizard-list {
        @apply flex py-5 px-[10px] relative z-[2];
    }

    .step-wizard-item {
        @apply px-5 flex flex-grow max-w-full flex-col text-center min-w-[170px] relative;
    }

    .step-wizard-item + .step-wizard-item::after {
        @apply content-[""] absolute -left-[95%] top-[22.5px] 2xl:-left-[95.8%] 2xl:translate-x-[47.3%] bg-[#0099ff] w-full 2xl:w-[102%] h-[5px] -z-10 translate-x-[47%];
    }

    .progress-count {
        @apply w-[50px] h-[50px] flex items-center justify-center rounded-[50%] font-semibold mx-auto relative z-10 text-transparent transition-all text-xl ease-in-out duration-200 overflow-hidden;
    }

    .dark .progress-count .svg-inline--fa {
        @apply text-transparent;
    }

    .progress-count::after {
        @apply content-[""] w-[50px] h-[50px] bg-[#0099ff] absolute left-1/2 top-1/2 -translate-x-[200%] -translate-y-[50%] -z-10 rounded-[50%] transition-all ease-in-out duration-200;
    }

    .progress-count::before {
        @apply content-[""] h-[10px] w-[20px] border-l-[3px] border-l-white border-b-[3px] border-b-white absolute left-1/2 top-1/2 -translate-x-[50%] -translate-y-[50%] -rotate-45 origin-center;
    }

    .current-item .progress-count::before,
    .current-item ~ .step-wizard-item .progress-count::before {
        @apply hidden;
    }

    .current-item ~ .step-wizard-item .progress-count::after {
        @apply -translate-x-[50%];
    }

    .current-item ~ .step-wizard-item .progress-count .svg-inline--fa {
        @apply text-white;
    }

    .progress-label {
        @apply font-semibold text-zinc-800;
    }

    .dark .progress-label {
        @apply text-white;
    }

    .current-item ~ .step-wizard-item .progress-label {
        @apply opacity-50;
    }

    .current-item .progress-count::after {
        @apply bg-white border-4 border-[#0099ff] -translate-x-[50%];
    }

    .current-item > .progress-count,
    .dark .current-item > .progress-count .svg-inline--fa {
        @apply text-[#0099ff];
    }

    .completed.progress-count::after {
        @apply -translate-x-[50%];
    }
    /* End Progress Bar */

    /* Form PPDB */
    .form-section {
        @apply rounded-xl shadow-lg relative w-full overflow-hidden mb-8;
    }

    .form-wrapper-responsive {
        @apply bg-zinc-200 px-10 py-6 relative w-full h-[55rem] overflow-hidden transition-all ease-in-out duration-200;
    }

    .form-wrapper-responsive.orang-tua {
        @apply h-[48.5rem];
    }

    .form-wrapper-responsive.periodik {
        @apply h-[59.5rem];
    }

    .form-wrapper-responsive.kesejahteraan {
        @apply h-[49.5rem];
    }

    .form-wrapper-responsive.cetak-bukti {
        @apply h-max pb-10;
    }

    .form-wrapper-responsive.cetak-bukti .cetak-pendaftaran-wrapper {
        @apply relative;
    }

    .progress-bar.fixed-nav ~ .form-section {
        @apply mt-[117px];
    }

    .form-section form {
        @apply relative;
    }

    .form-biodata-wrapper {
        @apply absolute w-full left-0 top-[24px] px-10 transition-all ease-in-out duration-300;
    }

    .form-biodata {
        @apply relative;
    }

    .form-orang-tua-wrapper,
    .form-periodik-wrapper,
    .form-kesejahteraan-wrapper,
    .cetak-pendaftaran-wrapper {
        @apply absolute left-0 top-[24px] w-full px-10 translate-x-full opacity-0 transition-all ease-in-out duration-300;
    }

    .form-biodata-wrapper.completed,
    .form-orang-tua-wrapper.completed,
    .form-periodik-wrapper.completed,
    .form-kesejahteraan-wrapper.completed {
        @apply opacity-0 -translate-x-full;
    }

    .form-orang-tua-wrapper.show,
    .form-periodik-wrapper.show,
    .form-kesejahteraan-wrapper.show,
    .cetak-pendaftaran-wrapper.show {
        @apply opacity-100 translate-x-0;
    }

    .form-title {
        @apply text-3xl font-bold text-zinc-800 mb-8 mt-4;
    }

    .form-wrapper {
        @apply flex justify-between items-start;
    }

    .form-section-left,
    .form-section-right {
        @apply w-1/2;
    }

    .form-section-left {
        @apply mr-4;
    }

    .form-section-right {
        @apply ml-4;
    }

    .form-group {
        @apply flex flex-col justify-center mb-3 relative;
    }

    .form-radio-group {
        @apply flex justify-start items-center flex-wrap;
    }
    .form-radio-group label {
        @apply w-full;
    }

    .form-group label {
        @apply w-max whitespace-nowrap mr-4;
    }

    .form-group label#label-upload-file {
        @apply w-full;
    }

    .form-control {
        @apply w-full border border-zinc-400 rounded-lg px-2 py-1 outline-none focus:ring focus:ring-[#0099ff] transition-all ease-in-out duration-200 my-1;
    }

    .form-control.invalid {
        @apply outline-red-500 outline-offset-0 outline-2;
    }

    .form-select {
        @apply w-full border border-zinc-300 rounded-lg px-2 py-1 outline-none focus:ring focus:ring-[#0099ff] transition-all ease-in-out duration-200 my-1;
    }

    .form-radio {
        @apply w-max mx-2;
    }

    .form-control:disabled {
        @apply opacity-80 bg-white cursor-not-allowed;
    }

    .form-upload {
        @apply block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400;
    }

    .dropzone {
        @apply rounded-xl border-2 border-[#0099ff] border-opacity-50;
    }

    .address-group {
        @apply flex justify-center items-center;
    }

    .dusun,
    .kabupaten,
    .provinsi {
        @apply w-full;
    }

    .rt,
    .rw {
        @apply w-28 ml-4;
    }

    .desa,
    .kecamatan {
        @apply w-1/2;
    }

    .desa,
    .kabupaten {
        @apply mr-4;
    }

    .kode-pos {
        @apply w-20 ml-4;
    }

    .hobi,
    .cita-cita,
    .anak-ke,
    .jumlah-saudara,
    .kip,
    .nomor-kip,
    .kis,
    .nomor-kis,
    .kks,
    .nomor-kks,
    .kps,
    .nomor-kps,
    .pkh,
    .nomor-pkh {
        @apply w-1/2;
    }

    .hobi,
    .anak-ke,
    .kip,
    .kis,
    .kks,
    .kps,
    .pkh {
        @apply mr-2;
    }

    .cita-cita,
    .jumlah-saudara {
        @apply ml-2;
    }

    .title-kesejahteraan {
        @apply font-semibold text-lg text-zinc-800 mb-2;
    }

    .form-btn {
        @apply flex justify-between items-center pt-6;
    }
    /* End Form */

    /* Cetak Pendaftara */
    .cetak-pendaftaran-title {
        @apply text-3xl font-bold text-zinc-800 mb-8 mt-4;
    }
    /* End Cetak Pendaftaran */
    /* End Register PPDB */

    /* Data Pendaftar */
    .dark .data-pendaftar-wrapper {
        @apply bg-zinc-700;
    }

    .data-pendaftar-title {
        @apply font-bold text-3xl mb-8 text-zinc-700;
    }

    #data-pendaftar_wrapper #data-pendaftar_length,
    #data-pendaftar_wrapper #data-pendaftar_filter {
        @apply mb-4;
    }

    #data-pendaftar_wrapper #data-pendaftar_length select,
    #data-pendaftar_wrapper #data-pendaftar_filter input {
        @apply rounded-lg outline-none focus:ring focus:ring-[#0099ff] transition-all ease-in-out duration-200;
    }

    #data-pendaftar_wrapper
        #data-pendaftar
        thead#table-header
        tr#row-header
        th {
        @apply text-center;
    }

    /* End Data Pendaftar */

    /* Footer */
    .footer-top {
        @apply px-8 py-4 lg:flex justify-evenly items-center;
    }
    .footer-left,
    .footer-middle,
    .footer-right {
        @apply w-full lg:w-1/3;
    }
    .footer-left {
        @apply lg:px-4 py-2;
    }
    .footer-brand {
        @apply flex items-center;
    }
    .footer-img-brand {
        @apply w-[35px] mr-2;
    }
    .footer-brand-text {
        @apply font-semibold text-lg text-zinc-800;
    }
    .footer-text {
        @apply py-2 text-zinc-800;
    }

    .footer-middle {
        @apply px-6 lg:px-20 py-4;
    }

    .footer-related-link {
        @apply py-2 font-bold;
    }

    .backlink-list {
        @apply list-disc lg:px-5;
    }
    .backlink-link {
        @apply inline-block relative text-zinc-800 transition-all ease-in-out duration-200 hover:translate-x-1.5 hover:text-[#0099ff];
    }

    .footer-bottom {
        @apply bg-zinc-300 flex flex-col lg:flex-row justify-center lg:justify-between items-center px-4 py-6;
    }

    .footer-bottom-left,
    .footer-bottom-right {
        @apply text-center;
    }
    /* End Footer */

    /* Buttons */
    .btn {
        @apply py-2 px-4 rounded-lg text-white transition-all ease-in-out duration-200;
    }

    .btn-sm {
        @apply py-1 px-2 rounded-md text-white transition-all ease-in-out duration-200;
    }

    .btn-primary {
        @apply bg-[#0099ff] hover:bg-[#0077ff];
    }

    .btn-secondary {
        @apply bg-zinc-500 hover:bg-zinc-600;
    }
    /* End Buttons */

    /* Dark Mode */
    .toggle-darkMode {
        @apply block relative w-max h-max border border-zinc-600 bg-zinc-700 p-1 rounded-full cursor-pointer z-10 mr-3;
    }

    .bxs-sun,
    .bxs-moon {
        @apply transition-all ease-in-out duration-300;
    }
    .dark .bxs-sun,
    .dark .bxs-moon {
        @apply -translate-x-4;
    }

    .dark,
    .dark .footer {
        @apply bg-zinc-800;
    }

    .dark .navbar-brand,
    .dark .navbar,
    .dark .menu-dropdown-portal {
        @apply bg-zinc-800;
    }

    .dark .nav-menu,
    .dark .brand {
        @apply bg-zinc-800 lg:bg-transparent;
    }

    .dark .navbar.fixed-nav {
        @apply bg-zinc-800;
    }

    .dark .terms-section,
    .dark .fasilitas-wrapper,
    .dark .footer-bottom {
        @apply bg-zinc-700;
    }

    .dark .brand,
    .dark .brand-title,
    .dark .nav-link,
    .dark .hero-title,
    .dark .cta-desc,
    .dark .terms-title,
    .dark .terms-desc,
    .dark .regular-terms,
    .dark .special-terms,
    .dark .keterangan,
    .dark .jalur-title,
    .dark .kuota-title,
    .dark .kuota-list,
    .dark .kuota-desc,
    .dark .jalur-list-title,
    .dark .jalur-list,
    .dark .jalur-desc,
    .dark .fasilitas-title,
    .dark .fasilitas-sub,
    .dark .svg-inline--fa,
    .dark .footer-top,
    .dark .footer-brand-text,
    .dark .footer-text,
    .dark .backlink-link,
    .dark .footer-bottom,
    .dark .register-title {
        @apply text-white;
    }

    .dark .backlink-link {
        @apply hover:text-[#0099ff];
    }

    .dark .nav-link {
        @apply hover:text-[#0099ff];
    }

    .dark .toggle-menu .burger {
        @apply border-white;
    }

    .dark .edu-btn.active,
    .dark .work-btn.active {
        @apply text-[#0099ff];
    }
    /* End Dark Mode */
    div.dropzone {
        @apply p-1;
    }

    .dropzone.dz-clickable .dz-message {
        @apply m-0;
    }

    .dropzone .dz-preview.dz-image-preview {
        @apply m-0;
    }

    .dropzone .dz-preview .dz-remove {
        @apply px-2 py-1 rounded-full border border-red-500 hover:no-underline bg-red-500 block cursor-pointer absolute top-[5px] right-[5px] z-10 text-white transition-all ease-in-out duration-200;
    }

    .dropzone.dz-clickable .dz-remove .tooltiptext {
        @apply absolute z-[1500] invisible bottom-[125%] left-1/2 -ml-[60px] w-[120px] bg-zinc-500 text-white text-center rounded-md py-[5px];
    }

    .invalid-feedback .tooltiptext {
        @apply absolute z-[9] invisible opacity-0 bottom-[70%] left-[10%] -ml-[60px] w-max px-4 bg-red-600 text-white text-center rounded-md py-[5px] transition-all ease-in-out duration-200;
    }

    .dropzone .dz-preview .dz-remove:hover .tooltiptext,
    .form-control:focus ~ .invalid-feedback .tooltiptext {
        @apply visible opacity-100;
    }

    .dz-remove .tooltiptext::after {
        @apply content-[""] absolute top-full left-1/2 -ml-[5px] border-[5px] border-solid;
    }

    .invalid-feedback .tooltiptext::after {
        @apply content-[""] absolute top-full left-1/2 -ml-[5px] border-[5px] border-solid;
    }

    .dropzone .dz-preview .dz-error-message {
        @apply left-[20px];
    }
}

.dropzone .dz-preview .dz-success-mark svg {
    filter: invert(45%) sepia(39%) saturate(1191%) hue-rotate(80deg)
        brightness(101%) contrast(104%);
}

.dropzone .dz-preview .dz-error-mark svg {
    filter: invert(10%) sepia(84%) saturate(7177%) hue-rotate(371deg)
        brightness(101%) contrast(103%);
}

.dropzone .dz-preview .dz-error-message {
    font-size: 17px;
}

.dropzone .dz-preview .dz-image {
    width: 180px;
    height: 180px;
}

.dropzone .dz-preview .dz-details {
    top: 28px;
}

.dropzone .dz-preview .dz-remove::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f1f8";
    font-size: 14px;
}

.dz-remove .tooltiptext::after {
    border-color: rgb(113 113 122) transparent transparent transparent;
}

.invalid-feedback .tooltiptext::after {
    border-color: rgb(220 38 38) transparent transparent transparent;
}

.select2-container--default .selection .select2-selection--single {
    border-radius: 8px !important;
    height: 34px;
    transition: all ease-in-out 0.2s;
}

.select2-container--default .selection .select2-selection--single:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 153 255 / var(--tw-ring-opacity));
}

.select2-container--default
    .selection
    .select2-selection--single
    .select2-selection__rendered {
    line-height: 34px;
}

.select2-container--default
    .select2-dropdown
    .select2-search--dropdown
    .select2-search__field {
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: all ease-in-out 0.2s;
}

.select2-container--default
    .select2-dropdown
    .select2-search--dropdown
    .select2-search__field:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 153 255 / var(--tw-ring-opacity));
}

#data-pendaftar.dataTable tbody tr:hover,
#data-pendaftar.dataTable tbody tr.odd:hover {
    background: #ffedd5;
}

#data-pendaftar.dataTable tbody tr.odd {
    background: #e4e4e7;
}

.dataTables_wrapper .dataTables_paginate#data-pendaftar_paginate,
.dataTables_wrapper .dataTables_info#data-pendaftar_info {
    padding-top: 1rem;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button {
    padding: 8px 16px;
    margin-left: 4px;
    margin-bottom: 8px;
    border: none;
    background: #a1a1aa;
    border-radius: 8px;
    color: white !important;
    transition: all ease-in-out 0.2s;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    padding: 8px 16px;
    margin-left: 4px;
    margin-bottom: 8px;
    border: none;
    background: #0099ff;
    border-radius: 8px;
    color: white !important;
    transition: all ease-in-out 0.2s;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.disabled {
    padding: 8px 16px;
    margin-left: 4px;
    margin-bottom: 8px;
    border: none;
    background: #71717a;
    border-radius: 8px;
    color: white !important;
    transition: all ease-in-out 0.2s;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
    background: #71717a;
    border: none;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current,
.dataTables_wrapper
    .dataTables_paginate
    a.paginate_button.table-paginate.disabled {
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    background: #0099ff;
    border: none;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
    background: #0099ff !important;
    border: none;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button.disabled:hover {
    background: #71717a;
    border: none;
    color: white !important;
}

#data-pendaftar.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > td:first-child:before {
    top: 25% !important;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #667eea !important;
    /*bg-indigo-500*/
}

@media (max-width: 512px) {
    .dataTables_wrapper .dataTables_paginate a.paginate_button,
    .dataTables_wrapper .dataTables_paginate a.paginate_button.current,
    .dataTables_wrapper .dataTables_paginate a.paginate_button.disabled {
        padding: 5px 10px;
        font-size: 0.8rem;
    }
}
