.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
    /* Form PPDB */
.form-section {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
    border-radius: 0.75rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.form-wrapper-responsive {
    position: relative;
    height: 60rem;
    width: 100%;
    overflow: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(228 228 231 / var(--tw-bg-opacity));
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.form-wrapper-responsive.orang-tua {
    height: 58.5rem
}

.form-wrapper-responsive.periodik {
    height: 69.5rem
}

.form-wrapper-responsive.kesejahteraan {
    height: 59.5rem
}

.form-wrapper-responsive.cetak-bukti {
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 2.5rem
}

.form-wrapper-responsive.cetak-bukti .cetak-pendaftaran-wrapper {
    position: relative
}

.progress-bar.fixed-nav ~ .form-section {
    margin-top: 117px
}

.form-section form {
    position: relative
}

.form-biodata-wrapper {
    position: absolute;
    left: 0px;
    top: 24px;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.form-biodata {
    position: relative
}

.form-orang-tua-wrapper, .form-periodik-wrapper, .form-kesejahteraan-wrapper, .cetak-pendaftaran-wrapper {
    position: absolute;
    left: 0px;
    top: 24px;
    width: 100%;
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    opacity: 0;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.form-biodata-wrapper.completed, .form-orang-tua-wrapper.completed, .form-periodik-wrapper.completed, .form-kesejahteraan-wrapper.completed {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0
}

.form-orang-tua-wrapper.show, .form-periodik-wrapper.show, .form-kesejahteraan-wrapper.show, .cetak-pendaftaran-wrapper.show {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 1
}

.form-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(39 39 42 / var(--tw-text-opacity))
}

.form-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.form-section-left, .form-section-right {
    width: 50%
}

.form-section-left {
    margin-right: 1rem
}

.form-section-right {
    margin-left: 1rem
}

.form-group {
    position: relative;
    margin-bottom: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.form-group label {
    margin-right: 1rem;
    width: -moz-max-content;
    width: max-content;
    white-space: nowrap
}

.form-group label#label-upload-file {
    width: 100%
}

.form-control {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(161 161 170 / var(--tw-border-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.form-control:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 153 255 / var(--tw-ring-opacity))
}

.form-control.invalid {
    outline-width: 2px;
    outline-offset: 0px;
    outline-color: #ef4444
}

.form-select {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    width: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(212 212 216 / var(--tw-border-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.form-select:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(0 153 255 / var(--tw-ring-opacity))
}

.form-control:disabled {
    cursor: not-allowed;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    opacity: 0.8
}

.dropzone {
    border-radius: 0.75rem;
    border-width: 2px;
    border-color: rgb(0 153 255 / var(--tw-border-opacity));
    --tw-border-opacity: 0.5
}

.address-group {
    display: flex;
    align-items: center;
    justify-content: center
}

.dusun, .kabupaten, .provinsi {
    width: 100%
}

.rt, .rw {
    margin-left: 1rem;
    width: 7rem
}

.desa, .kecamatan {
    width: 50%
}

.desa, .kabupaten {
    margin-right: 1rem
}

.kode-pos {
    margin-left: 1rem;
    width: 5rem
}

.hobi, .cita-cita, .anak-ke, .jumlah-saudara, .kip, .nomor-kip, .kis, .nomor-kis, .kks, .nomor-kks, .kps, .nomor-kps, .pkh, .nomor-pkh {
    width: 50%
}

.hobi, .anak-ke, .kip, .kis, .kks, .kps, .pkh {
    margin-right: 0.5rem
}

.cita-cita, .jumlah-saudara {
    margin-left: 0.5rem
}

.title-kesejahteraan {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(39 39 42 / var(--tw-text-opacity))
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem
}
/* End Form */



